{{!-- Maybe add horizontal nav and breadcrumbs here --}}

<div class="container-fluid">
  <div class="row">
    <ol class="breadcrumb col-xs-12">
      <li>
        <a href="/">Back to Persona List</a>
      </li>
      <li class="active">
        <strong>Persona Details:
          <b>{{ persona.name }}</b>
        </strong>
      </li>
    </ol>
  </div>
  <!-- breadcrumb row -->

  <div class="row">
    <div class="col-xs-12 col-sm-8 col-md-6 col-lg-5">

      <div class="pg-persona pg-persona--card">
        <div class="pg-roles">
          <div>{{persona.jobTitle}}</div>
        </div>

        <div class="pg-quote">
          {{persona.quote}}
        </div>

        <div class="pg-title pg-title--card pg-title--skills">
          <h3>Background & Skills</h3>
        </div>
        <div class="pg-skills">
          {{#each persona.skills}}
          <span class="pg-skill">
            <span class="pg-skill__title">{{this.name}} ({{this.rating}})</span>
          </span>
          {{/each}}
        </div>

        <div class="pg-title pg-title--card pg-title--success">
          <h3>Keys to Success</h3>
        </div>
        <div class="pg-success">
          <ul>
            {{#each persona.keysToSuccess}}
            <li>{{this}}</li>
            {{/each}}
          </ul>
        </div>

        <div class="pg-title pg-title--card pg-title--dangers">
          <h3>Dangers</h3>
        </div>
        <div class="pg-dangers">
          <ul>
            {{#each persona.dangers}}
            <li>{{this}}</li>
            {{/each}}
          </ul>
        </div>

        <div class="pg-id ">
          <h3>
            <span class="pg-id__avatar pg-id__avatar--card">
              <img src="{{persona.photo}}?bgset=any" alt="Picture of {{persona.name}}">
            </span>
            {{persona.name}}
          </h3>
        </div>


        <div class="pg-title pg-title--card pg-title--day">
          <h3>A Day in the Life</h3>
        </div>
        <div class="pg-day">
          <div class="pg-day__summary">{{persona.dayInTheLife.summary}}</div>
        </div>

        <div class="pg-title pg-title--card pg-title--network">
          <h3>Network</h3>
        </div>
        <div class="pg-network">
            {{#each persona.network}}
              <span>persona{{this}}</span>
            {{/each}}
        </div>
      </div>
      <!-- col -->
    </div>
    <!-- row -->
  </div>
  <!-- container -->