{{!-- Maybe add horizontal nav and breadcrumbs here --}}

<div class="container-fluid">
  <div class="row">
    <ol class="breadcrumb col-xs-12">
      <li>
        <a href="/">Back to Persona List</a>
      </li>
      <li class="active">
        <strong>Persona Details:
          <b>{{ persona.name }}</b>
        </strong>
      </li>
    </ol>
  </div>
  <!-- breadcrumb row -->

  <div class="row">
    <div class="col-xs-12">

      <div class="pg-persona">
        <div class="pg-title pg-title--roles">
          <h3>Roles and Responsibilities</h3>
        </div>
        <div class="pg-roles">
          <h4 class="title">Job Title</h4>
          <div>{{persona.jobTitle}}</div>
        </div>

        <div class="pg-title pg-title--quote">
          <h3>Quote</h3>
        </div>
        <div class="pg-quote">
          {{persona.quote}}
        </div>

        <div class="pg-title pg-title--skills">
          <h3>Background & Skills</h3>
        </div>
        <div class="pg-skills">
          {{#each persona.skills}}
            <div class="pg-skill">
              <div class="pg-skill__title">{{this.name}}</div>
              <div class="pg-skill__value">{{this.rating}}</div>
            </div>
          {{/each}}
        </div>

        <div class="pg-title pg-title--successes">
          <h3>Keys to Success</h3>
        </div>
        <div class="pg-successes">
          <ul>
            {{#each persona.keysToSuccess}}
              <li>{{this}}</li>
            {{/each}}
          </ul>
        </div>

        <div class="pg-title pg-title--dangers">
          <h3>Dangers</h3>
        </div>
        <div class="pg-dangers">
          <ul>
            {{#each persona.dangers}}
              <li>{{this}}</li>
            {{/each}}
          </ul>
        </div>

        <div class="pg-title pg-title--id">
          <h3>{{persona.name}}</h3>
        </div>
        <div class="pg-id pg-id__avatar">
          <img src="{{persona.photo}}" alt="Picture of {{persona.name}}">
        </div>

        <div class="pg-title pg-title--day">
          <h3>A Day in the Life</h3>
        </div>
        <div class="pg-day">
          <div class="pg-day__summary">{{persona.dayInTheLife.summary}}</div>
          <div class="pg-day__chart">
            <ul>
              {{#each persona.dayInTheLife.activities}}
              <li>{{this.name}} {{this.percentage}}</li>
              {{/each}}
            </ul>
          </div>
        </div>

        <div class="pg-title pg-title--network">
          <h3>Network</h3>
        </div>
        <div class="pg-network">
          {{#each persona.network}}
          <li>persona with id: {{this}}</li>
          {{/each}}
        </div>
      </div>
      <!-- col -->
    </div>
    <!-- row -->
  </div>
  <!-- container -->